<section class="page">
  <h2>{{ trainingName }}</h2>
  <p>{{ 'APP.PAGES.PROGRESS.CHART_PLACEHOLDER' | translate }}</p>

  <mat-form-field appearance="outline" class="range-input">
    <mat-label>Date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate [(ngModel)]="selectedRange.start" (dateChange)="onRangeUpdated()" readonly />
      <input matEndDate [(ngModel)]="selectedRange.end" (dateChange)="onRangeUpdated()" readonly />
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker [touchUi]="true" panelClass="fullscreen-date-range-picker"></mat-date-range-picker>
  </mat-form-field>

  <h3>{{ 'APP.PAGES.PROGRESS.REPS_CHART' | translate }}</h3>
  <div #repsChartContainer class="progress-chart" [attr.aria-label]="'APP.PAGES.PROGRESS.CHART_ARIA' | translate"></div>

  <h3>{{ 'APP.PAGES.PROGRESS.WEIGHT_CHART' | translate }}</h3>
  <div #weightChartContainer class="progress-chart"></div>
</section>
