<div class="layout">
  <aside class="side-menu">
    <h1 class="logo">{{ 'APP.TITLE' | translate }}</h1>
    <nav>
      <a routerLink="/progress" routerLinkActive="active">{{ 'APP.MENU.PROGRESS' | translate }}</a>
      <a routerLink="/history" routerLinkActive="active">{{ 'APP.MENU.HISTORY' | translate }}</a>
      <a routerLink="/configuration" routerLinkActive="active">{{ 'APP.MENU.CONFIGURATION' | translate }}</a>
    </nav>
  </aside>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
